

<div class="row buttons">
	<div class="btn btn-selected aus" on-click="aus">Aus</div>
	<div class="btn world" on-click="world">World</div>
	<div class="btn us" on-click="us">US</div>
	<div class="btn uk" on-click="uk">UK</div>
</div>	

<div class="headline-container">
	<h3>Coronavirus latest totals for: {{location.name}}</h3>
</div>	

<div class="row bigNumbers {{layout}}">
	<div id="cases" class="numWrapper">
		<p style="color: rgb(199, 0, 0);">{{label}}</p>
		<span style="color: rgb(199, 0, 0);">{{location.confirmed}}</span>
	</div>

	{{#if location.name == "Australia"}}
	<div id="recovered" class="numWrapper">
		<p style="color: #005689;">Recovered</p>
		<span style="color: #005689;">{{location.recovered}}</span>
	</div>
	{{/if}}

	<div id="deaths" class="numWrapper">
		<p>Deaths</p>
		<span>{{location.deaths}}</span>
	</div>


</div>

<div class="row notes">
Australian figures are sourced by Guardian Australia from state and territory media releases. *Active cases is the total number of cases with recovered cases and deaths subtracted. Global figures are from <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University</a>. Australian data last updated {{ausManualTimestamp}}, Johns Hopkins University data last updated {{autoTimestamp}}
</div>	