@import "mq";
@import "fonts";
@import "palette";
@import "embed";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.interactive-wrapper {
	padding-top: 5px;

	.btn {
	    background-color: #eaeaea;
	    border-radius: 62.5rem;
	    border: none;
	    display: inline-block;
	    outline: 0;
	    box-sizing: border-box;
	    font-size: 12px;
	    line-height: 16px;
	    font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	    color: #767676;
	    padding: 4px 10px;
	    margin: 1px 1px;
	    text-align: right;
	    cursor:pointer;
  	}

  	.buttons {
  		padding-left:2px;
  		padding-right:2px;
  	}

	.btn:hover {
		opacity: 0.7 !important;
	}

	.btn-selected {
		background-color: #005689;
		color: #FFF;
	}

	.headline-container h3 {
		font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    	font-size: 21px;
    	margin: 6px;
	}

	.bigNumbers {
		display: flex;
    	width: 100%;
    	border-top: 2px solid #c70000;
	}

	.numWrapper {
		padding: 6px 0 6px 6px;
    	width: 33%;
    	border-bottom: 1px solid #dcdcdc;
    	border-right: 1px solid #dcdcdc;

    	span {
    		font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
		    font-variant-numeric: lining-nums;
		    font-size: 48px;
		    line-height: 40px;
    	}

    	p {
    		font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
		    font-size: 14px;
		    margin: 0;
    	}
	}

	@media (max-width: 31.25em) and (min-width: 6.25em) {
		.bigNumbers {
			width: 100%;
			flex-direction: column;
    		border-top: none;
		}

		.numWrapper {
			 width: calc(100% - 20.5px);
    		border-right: none;
		}
	}

	.grid line {
	  stroke: lightgrey;
	  stroke-opacity: 0.7;
	  shape-rendering: crispEdges;
	}

	.grid path {
	  stroke-width: 0;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #767676;
	  shape-rendering: crispEdges;
	}

	.chartSans {
		font-size:12px;
		color:#767676;
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}

	.tick text {
		font-size:0.8rem;
		line-height:1em;
		font-family:'Guardian Text Sans Web', 'Agate Sans', sans-serif;
	}

	.notes {
		border-top: 1px solid #dcdcdc;
		font-family: 'Guardian Text Sans Web',Arial;
		font-size:12px;
		color:#767676;
		padding: 2px;
	}

	a {
		color:#ab0613;
		text-decoration: none !important;
		border-bottom: 0.0625rem solid #dcdcdc;
		-webkit-transition: border-color 0.15s ease-out;
		transition: border-color 0.15s ease-out;
	}

	a:hover {
		border-color: #ab0613;
	}
}